@import "tailwindcss";

@theme {
  --color-search: #151515;
  --color-play: #a19e9e;
  --color-info: #454444;
  --color-navbar: rgba(0, 0, 0, 0.8);
  --color-overview: #757171;

  --breakpoint-512px: 32rem;
  --breakpoint-448px: 28rem;
}

body {
  background-color: black;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
